.logo {
    width: 30em;
    height: auto;
  }
  .logoContainer {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
  }
  
.formContainer{
    display:flex;
    justify-content: center;
}
.invoiceForm {
    justify-content: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(36, 36, 36, 0.85);
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 20px;
    margin-top: 6em;
    width: 95em;
    height: 60em;
}

.WspolnyContainer {
    display: flex;
    justify-content: space-around;
}

.SprzedawcaContainer {
    display: flex;
    flex-direction: column;
    width: 18.75em;
    margin-left: 4em;
    margin-right: -4em;
}
.NabywcaContainer {
    display: flex;
    flex-direction: column;
    width: 18.75em;
    margin-left: 4em;
}
.inputRow{
    display: flex;
    flex-direction: row;
}
.name{
    display: flex;
    flex-direction: column;
}
.postalCode{
    white-space: nowrap;
}