.mainContent {
  min-width: 1000px;
}

.contentHome {
  background-color: #3b3b3b; 
  min-height: 80vh;
  border-radius: 0px 0px 20px 20px;
  min-width: 1000px;
}

.banner {
  border-radius: 20px 20px 0px 0px;
  background-color: rgba(36, 36, 36, 0.85); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: 1em;  
}

.logo {
  width: 20em;
  height: auto;
}

.companyName {
  font-size: 2em;
} 

span.optionsButton a img {
  filter: brightness(0) invert(1);
}

.logOutButton {
  all: unset
}

.addInvoice {
  text-align: right;
  padding-top: 0.5em;
  margin-right: 1em;
}

.addInvoiceButton :Link {
  text-decoration: none;
  color: white;
}

.addInvoiceButton :visited {
  text-decoration: none;
  color: white;
}

.menu {
  float: left;
  min-height: 80vh;
  border-radius: 0px 0px 0px 20px;
  background-color: #1a1a1a;
}

.menuButton button {
  width: 15em;
  text-align: left;
  border-radius: 0;
  padding-left: 1.8em;
}

.invoiceTable {
  float: left;
  margin-top: 2em;
  margin-left: 8em;
}

.invoiceTable table thead tr th {
  border: none;
  border-bottom: rgb(26, 26, 26) solid 1px;
  border-left: rgb(26, 26, 26) solid 1px;
  border-right: rgb(26, 26, 26) solid 1px;
  background-color: rgb(49, 48, 48);
}

table th {
  text-align: center;
}

table tr {
  font-size: 1em;
  color: white;
}

.invoiceTable table tbody tr td {
  border: none;
  border-top: rgb(26, 26, 26) solid 1px;
  border-left: rgb(26, 26, 26) solid 1px;
  border-bottom: rgb(26, 26, 26) solid 1px;
}

table tr:nth-child(odd) td:not(.sddButton) {
  background-color: rgb(73, 71, 71); 
}

.invoiceTable table tbody tr td.sddButton {
  border: none;
  /* border-left: rgb(26, 26, 26) solid 1px;
  border-bottom: rgb(26, 26, 26) solid 1px; */
  background-color: transparent;
  padding: 0;
}

#leftBorder{
  /* border: none; */
  border-left: rgb(26, 26, 26) solid 1px;
  /* border-bottom: rgb(26, 26, 26) solid 1px; */
  background-color: transparent;
  padding: 0;
}

.invoiceTable table tbody tr td.sddButton button {
  /* border-radius: 0; */
  margin-left: 0.3em;
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

/* .sddButton :hover {
  color: rgb(40, 193, 240);
}

.deleteButton :hover {
  color: rgb(255, 0, 0);
}

.downloadButton :hover {
  color: rgb(0, 128, 0);
} */

#leftBorder :hover{
  color: rgb(40, 193, 240);
}

#colorGreen :hover{
  color: rgb(0, 128, 0);
}

#colorRed :hover{
  color: rgb(255, 0, 0);
}