.formContainer{
    display:flex;
    justify-content: center;
}

.invoiceForm {
    justify-content: flex;
    align-items: center;
    text-align: center;
    /* background-color: rgba(36, 36, 36, 0.85); */
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 20px;
    margin-top: 6em;
    width: 95em;
    height: 60em;
}

.firstContainer{
    overflow: hidden;
    background-color: rgba(36, 36, 36, 0.85);
    border-radius: 20px;
    padding: 1em;
    margin-bottom: 1em;
}

.firstContainer input{
    border: 0px;
    border-radius: 0.8em;
    padding-left: 0.6em;
    padding-right: 0.3em;
}

.firstContainerName{
    width: 50%;
    float: left;
}

.firstContainerName label{
    width: 80%;
}

.firstContainerName input{
    width: 100%;
}

.firstContainerName p{
    text-align: left;
    margin-bottom: 0;
}
.firstContainerDates{
    width: 50%;
    float: left;
}

.firstContainerDates p{
    text-align: left;
    margin-bottom: 0;   
}

.firstContainerDates input{
    width: 15em;
    margin-right: 0.5em;    
}

.WspolnyContainer{
    overflow: hidden;
    background-color: rgba(36, 36, 36, 0.85);
    border-radius: 20px;
    padding: 1em;
    margin-bottom: 1em;
    text-align: center;
}

.WspolnyContainer table thead td{
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: rgb(26, 26, 26) solid 1px;
}

.WspolnyContainer table{
    /* width: 100%; */
    display: inline-block;
}

.WspolnyContainer table td{
    border-left: rgb(26, 26, 26) solid 1px;
}

.WspolnyContainer input{
    border: 0px;
    border-radius: 0.8em;
    padding-left: 0.6em;
    padding-right: 0.3em;
}

.WspolnyContainer select{
    border: 0px;
    border-radius: 0.8em;
    padding-left: 0.6em;
    padding-right: 0.3em;
    /* Arrow */
    appearance: none;
}

.DodajContainer{
    width: 30%;
    /* float: left; */
    display: inline-block;
}

.DodajContainer label p{
    text-align: left;
    margin-bottom: 0; 
}

.DodajContainer input, select{
    width: 15em;
}

.WartoscContainer{
    width: 50%;
    /* float: left; */
    display: inline-block;
}

.dodajiwartosc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cena input{
    margin: 1em;
}

.platnosc_termin p{
    margin-bottom: 0;
    text-align: left;
}

.platnosc_termin label input{
    width: 10em;
}

.platnosc_termin label select{
    width: 10em;
}

.platnosc_termin label{
    padding: 1em;
}

.lastContainer{
    overflow: hidden;
    background-color: rgba(36, 36, 36, 0.85);
    border-radius: 20px;
    padding: 1em;
}

.lastContainer input{
    border: 0px;
    border-radius: 0.8em;
    padding-left: 0.6em;
    padding-right: 0.3em;
}

.lastContainer select{
    border: 0px;
    border-radius: 0.8em;
    padding-left: 0.6em;
    padding-right: 0.3em;
    /* Arrow */
    appearance: none;
}

.bank{
    width: 50%;
    float: left;
}

.bank select{
    width: 100%;
    margin-bottom: 1em;
}

.bank label{
    width: 80%;
}

.bank input{
    width: 100%;
}

.bank p{
    text-align: left;
    margin-bottom: 0;  
}

.wystawil{
    width: 50%;
    float: left;
}

.wystawil select{
    width: 10em;
    margin-bottom: 1em;
}

.wystawil input{
    width: 10em;
}

.wystawil p{
    text-align: left;
    margin-bottom: 0;  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}