.formContainer{
    display:flex;
    justify-content: center;
}
.invoiceForm {
    justify-content: flex;
    align-items: center;
    text-align: center;
    background-color: rgba(36, 36, 36, 0.85);
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 20px;
    margin-top: 6em;
    width: 95em;
    height: 60em;
}

.firstContainer{
    overflow: hidden;
}
.firstContainerName{
    width: 50%;
    float: left;
}
.firstContainerName input{
    width: 30em;
}
.firstContainerName p{
    text-align: left;
    margin-bottom: 0;
}
.firstContainerDates{
    width: 50%;
    float: left;
}
.firstContainerDates p{
    text-align: left;
    margin-bottom: 0;   
}
.firstContainerDates input{
    width: 15em;
    margin-right: 0.5em;    
}

.WspolnyContainer{
    overflow: hidden;
}
.WspolnyContainer table thead td{
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.WspolnyContainer table thead :nth-child(2){
    text-align: left;
    width: 20em;
}
.DodajContainer{
    width: 50%;
    float: left;
}
.WartoscContainer{
    width: 50%;
    float: left;
}
