.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(36, 36, 36, 0.85);
    width: 30em;
    height: 35em;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
.logo {
    width: 30em;
    height: auto;
  }
  .logoContainer {
    display: block;
    position: absolute;
    align-items: center;
    margin-bottom: 37.6em;
    
  }

.loginStyle {
    float: left;
    width: 18.75em;
}

.inputText {
    height: 3.9em;
}

.logIn {
    margin-top: 1em;
}

.form_group {
    padding-top: 0.8em;
    text-align: left;
}

.textGoogle {
    margin-right: 1em;
    
}

.logoGoogle {
    width: 6em;
}

.plusButton {
    padding-top: 1.2em;
}