.container_new {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    flex-direction: column;
}
.logo {
    width: 30em;
    height: auto;
  }
  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    margin-top: 2em;
    margin-bottom: -17em;
  }
.newStyle {
    float: left;
    width: 18.75em;
}

.inputText {
    height: 3.9em;
}
  
.form_container_new {
    text-align: left;
}
  
.newPasswordButton {
    margin-top: 0.5em;
    display: block; 
    margin-left: auto;
    margin-right: auto;
  }