.container{
    display:flex;
    justify-content: center;
}
.container_register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(36, 36, 36, 0.85);
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 20px;
    margin-top: 6em;
    width: 45em;
}
.logo {
    width: 30em;
  }
  .logoContainer {
    display: block;
    position: absolute;
    align-items: center;
    top: 0.1em;
  }
.labelStyle {
    text-align: left;
}

.inputText {
    padding-bottom: 2em;
}

.inputText input {
    margin-right: 4em;
}

.form_container {
    display: flex;
    justify-content: space-around;
}

.leftColumn {
    float: left;
    width: 18.75em;
    margin-left: 4em;
    margin-right: -4em;
}
.rightColumn {
    float: left;
    width: 18.75em;
    margin-left: 4em;
}

.registrationButton {
    margin-top: 1em;
}

.loginButton {
    padding-top: 1.2em;
}