.container_register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(36, 36, 36, 0.85);
    width: 50em;
    height: 50em;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 1.4em;
}
.logo {
    width: 30em;
    height: auto;
  }
  .logoContainer {
    display: block;
    position: absolute;
    align-items: center;
    margin-bottom: 52.4em;
  }
.labelStyle {
    text-align: left;
}

.inputText {
    height: 3.9em;
}

.inputText input {
    margin-right: 4em;

}

.form_container {
    /* width: 600px; */
    display: flex;
    justify-content: space-around;
}

.leftColumn {
    float: left;
    width: 18.75em;
    margin-left: 4em;
}
.rightColumn {
    float: left;
    width: 18.75em;
    margin-left: 4em;
}

.registrationButton {
    margin-top: 1em;
}

.loginButton {
    padding-top: 1.2em;
}