.container-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
  
.form-container {
    text-align: center;
    align-items: center;
    flex-direction: column;
}

  
.resetButton {
    margin-top: 1em;
  }