.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    width: 20em;
    height: auto;
  }
  
  .buttonsContainer {
    display: flex;
  }

.loginButton,.registrationButton{
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
  }

  .loginButton :link,.registrationButton :link {
    text-decoration: none;
    color: white;
  }

  .loginButton :visited,.registrationButton :visited {
    text-decoration: none;
    color: white;
  }

  .buttonsContainer a{
    text-decoration: none;
  }

  .lockIcon {
    width: 35px;
    margin-right: 5px;
  }

  .background_bottom {
    background-color: rgba(36, 36, 36, 0.85);
    border-radius: 20px;
    margin-top: 1em;
  }

  .background_bottom p{    
    font-size: 3em;
    text-align: center;
  }

  #pStyle {
    padding: 1em;
    padding-top: 0;
    margin-top: 0;
  }

.background_bottomm {
  background-color: rgba(36, 36, 36, 0.85);
  border-radius: 20px;
  padding: 1em;
}

  .background_bottomm p{    
    font-size: 3em;
    text-align: center;
  }
 
.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
.row p{
    font-size: 1.5em;
}

.column {
    text-align: center;
}
  
.laptopContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px; 
  }
  
  .laptop {
    width: 60%; 
    height: auto;
  }